.form {
    position: relative;
    display: flex;
    width: 100%;
    margin: 2em 0;
}

.container_right{
    display: flex;
    flex-direction: column;
    padding: .5em;
    border-left: 2px solid #7b7b7b ;
    width: 50%;
}

.container_left {
    display: flex;
    flex-direction: column;
    padding: .5em;
    width: 50%;
}

.container_right label {
    color: #FFF;
    margin-bottom: .6em;
    font-weight: bold;
}

.select {
    margin: 0 0 1em 0;
    font-size: 14px;
    color: #000;
}

.descricao {
    padding: .5em;
    height: 126px;
}

.container_button {
    position: absolute;
    width: 200px;
    right: 0px;
    bottom: -30px;
}

.container_button button {
    background-color: #ffbb33;
    color: #000;
    width: 100%;
    border-radius: 8px;
    border: none;
    padding: 1em;
    transition: .5s;
    font-weight: 600;
    opacity: .8;
}

.container_button button:hover {
    opacity: 1;
}