.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control label {
    color: #FFF;
    margin-bottom: .6em;
    font-weight: bold;
}

.form_control input {
    background-color: #FFF;
    padding: .7em;
    border-radius: 4px;
    border: none;
}

.form_control::placeholder {
    color: #7b7b7b;
}

input[type=search]::placeholder {
    width: 100%;
    background: url("../../img/search.png") no-repeat;
    background-position: right;
}