.newproject_container {
    background-color: #222;
    width: 900px;
    margin: 1em auto ;
    padding: 1em;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.newproject_container h1 {
    color: #FFBB33;
    margin-bottom: .2em;
}

.newproject_container p {
    color: #7b7b7b;
}

