.container {
    width: 1300px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.min-height{
    min-height: 85%;
}

.start {
    justify-content: start;
}

.evenly {
    justify-content: space-evenly;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}