.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1em;
}

.navbar img {
    width: 100px;
}

.search {
    min-width: 30%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #171717;
    color: #FFBB33;
}

.search::placeholder {
    color: #FFBB33;
}

.list {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a {
    text-decoration: none;
    color: #FFF;
}

.item a:hover {
    color: #FFBB33;
}

